body {
  margin: 0;
  background-color: #000;
  font-family: 'Courier New', Courier, monospace;
}

/* HEADER */
.header {
  color: #32b9cd;
  border-bottom: 3px solid #32b9cd;
}

.header .container {
  justify-content: space-between;
}

.agora {
  font-weight: 800;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.navbar {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: #e3b062;
}

/* CONTAINER */
.container {
  width: 80%;
  margin: auto;
  display: flex;
}

/* BANNER */
.banner {
  height: 500px;
  color: #fff;
  background-image: url("bg-jelly-fish-para-home.png");
  background-size: cover;
}

.banner .container {
  height: 500px; /*NÃO É REDUNDANTE COM HEIGHT DO BANNER, POIS O HEIGHT É DO CONTAINER DENTRO DO BANNER*/
  align-items: center;
}

.banner p {
  width: 250px;
  margin: 0;
  margin: 0;
  font-size: 35px;
  margin-left: 350px;
}

.banner span {
  font-weight: 800;
}

/* PROPÓSITO */
.proposito {
  background-color: #e5e5e5;
  padding: 50px 0;
}

.proposito .container {
  justify-content: space-evenly;
  flex-direction: column;
}

.proposito .titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.proposito h2 {
  display: flex;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  align-self: center;
  justify-self: center;
  text-align: center;
  color: #e6005a;
  margin: 0;
}

.proposito .boxes {
  display: flex;
}

.proposito .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 33%;
}

.proposito .box img {
  width: 150px;
  align-self: center;
}

.proposito .box h4 {
  color: #e6005a;
  margin-top: 30px;
}

/*FOOTER*/
.footer {
  background-color: #32b9cd;
  height: 150px;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer .container {
  justify-content: center;
}

h4 {
  margin: 0;
  padding: 0;
}

/*=================ARQUIVO LOGIN.HTML=================*/
/*LOGIN*/
.banner .card {
  background-color: #f5f5dc;
  height: 450px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  color: #e75549;
}

.card {
  margin-top: 20px;
}

.btn {
  font-family: monospace;
  margin-top: 10px;
  border: 0;
  font-weight: 600;
  background-color: #e75549;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

input {
  height: 30px;
  border: 2px solid #e75549;
  border-radius: 4px;
}